* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(00,00,00,0.1);
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

header {
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url('header4.jpg');
  background-size: cover;
}

main {
  flex: 1;
}

h1 {
  margin: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {	
  text-decoration: none;
  color: #FFFFFF;
  text-shadow: 0 5px 9px #c4b59d, 0px -1px 1px #fff;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

nav {
  margin: 0 0 0 auto;
}

.padding {
  height: 70px;
}

.main-visual {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
}

.camera {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5rem;
}

footer {
  width: 100%;
  height: 50px;
  bottom: 0; /*下に固定*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('header4.jpg');
  background-size: cover;
  color: #FFFFFF;
  text-shadow: 0 5px 9px #c4b59d, 0px -1px 1px #fff;
}

.button-40 {
  background-color: #111827;
  border-radius: .75rem;
  cursor: pointer;
  flex: 0 0 auto;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  touch-action: manipulation;
  width: 300px;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}
