* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(00,00,00,0.2);
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

header {
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url('header4.jpg');
  background-size: cover;
}

main {
  flex: 1;
}

h1 {
  margin: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {	
  text-decoration: none;
  color: #FFFFFF;
  text-shadow: 0 5px 9px #c4b59d, 0px -1px 1px #fff;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

nav {
  margin: 0 0 0 auto;
}

.padding {
  height: 70px;
}

/* .main-visual {
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* h2 {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
} */

.camera {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.camera-bd {
  border: 4px solid #111827;
  border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
  padding: 1em;
} */

/* .camera-bd {
	position: relative;
	padding: .3em .7em;
	border-top: solid 3px #000000;
	border-bottom: solid 3px #000000;
} */

.btn {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment {
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.btn-2 {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 50px;
  bottom: 0; /*下に固定*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('header4.jpg');
  background-size: cover;
  color: #FFFFFF;
  text-shadow: 0 5px 9px #c4b59d, 0px -1px 1px #fff;
}

.button-41 {
  background-color: #000000;
  color: #ffffff;
  width: 100px;
  height: 100px;
  line-height: 90px;
  border-radius: 50%;
  border: double 4px #ffffff;
  text-align: center;
  cursor: pointer;
}
.button-41:hover {
  animation: scale .3s ease-in-out;
}
@keyframes scale {
  50% { transform: scale(1.1); }
}

.button-42 {
  background-color: #606060;
  color: #ffffff;
  width: 100px;
  height: 100px;
  line-height: 90px;
  border-radius: 50%;
  border: double 4px #ffffff;
  text-align: center;
  cursor: pointer;
}

.button-40 {
  background-color: #000000;
  border-radius: .75rem;
  cursor: pointer;
  flex: 0 0 auto;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  touch-action: manipulation;
  width: 300px;
  border: double 4px #ffffff;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}
