* {
  box-sizing: border-box;
}

header {
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url('header4.jpg');
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(00,00,00,0.1);
}

h1 {
  margin: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {	
  text-decoration: none;
  color: #FFFFFF;
  text-shadow: 0 5px 9px #c4b59d, 0px -1px 1px #fff;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

nav {
  margin: 0 0 0 auto;
}

.padding {
  height: 70px;
}

.main-visual {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
}

.camera {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 50px;
  position: absolute; /*絶対位置*/
  bottom: 0; /*下に固定*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('header4.jpg');
  background-size: cover;
  color: #FFFFFF;
  text-shadow: 0 5px 9px #c4b59d, 0px -1px 1px #fff;
}
