<main>
  <div class="top-contents mt-3">
    <div class="top-text">
      <p>モード選択</p>
    </div>
    <div class="btn-3">
      <%= link_to "ガン飛ばし診断", '/create', class:"button-40 link" %>
    </div>
    <div class="select-text">
      <p>貴方のガン飛ばしを客観的に分析できます。</p>
    </div>
    <div class="btn-3">
      <%= link_to "　　工事中　　", '#', class:"button-40 link" %>
    </div>
    <div class="select-text">
      <p>リリースお楽しみに！</p>
    </div>
    <div class="btn-3">
      <%= link_to "　　工事中　　", '#', class:"button-40 link" %>
    </div>
    <div class="select-text">
      <p>リリースお楽しみに！</p>
    </div>
  </div>
  <div class="select-text-fotter">
    <p>※端末の世代/ブラウザ/カメラ品質で挙動が変わる場合があります。</p>
  </div>
</main>
