<%= render 'layouts/header' %>

<main>
  <div class="top-contents">
    <%= image_tag 'logo.png', class:'logo' %>
    <div class="btn-2">
      <p><%= link_to "さっそくガン飛ばす", '/create', class:"button-40" %></p>
    </div>
  </div>
</main>

<%= render 'layouts/footer' %>
