<%= render 'layouts/header' %>

<main>
  <div class="contents">
    <div class="content">
      <%= image_tag 'logo.png', class:'logo' %>
      <div class="btn-2">
        <%= link_to "さっそくガン飛ばす", '/create', class:"button-40" %>
      </div>
    </div>
  </div>
</main>

<%= render 'layouts/footer' %>
