<main>
  <div class="padding"></div>
  <div class="content">
    <%= image_tag 'logo.png', class:'logo' %>
    <div class="btn-2">
      <%= link_to "さっそくチャレンジ", '/create', class:"button-40" %>
    </div>
  </div>
</main>

<%= render 'layouts/footer' %>
