<main>
  <div class="top-contents">
    <div class="mt-4 py-4">
      <%= image_tag 'logo_gantobashi.webp', class:'logo' %>
    </div>
    <div class="top-btn">
      <div class="btn-1">
        <%= link_to "さっそくガン飛ばす", mode_select_path, class:"button-40 link" %>
      </div>
      <div class="btn-1 mt-3">
        <%= link_to "　　　遊び方　　　", about_path, class:"button-40 link" %>
      </div>
    <div>
  </div>
</main>

<style>
  .header-logo {
    display: none;
  }
</style>
