<h1>メンチキッター</h1>

<video id="camera" width="300" height="400"></video>
<canvas id="picture" width="300" height="400"></canvas>

<%= javascript_pack_tag 'home/top' %>

<br>

<button type="button" id="shutter">check</button>
