<!-- This file lives in public/404.html -->
<div class="top-contents mt-3">
  <div class="dialog">
    <div>
      <p>お探しのページは見つかりませんでした(404)</p>
      <p>ご指定のURLを再度ご確認ください。</p>
    </div>
    <p>トップページへは<a href="/">こちら</a>より戻れます。</p>
  </div>
</div>
