<!-- This file lives in public/500.html -->
<div class="top-contents mt-3">
  <div class="dialog">
    <div>
      <p>エラー(500)</p>
    </div>
    <p>トップページへは<a href="/">こちら</a>より戻れます。</p>
  </div>
</div>
