<% content_for(:title, t(".title")) %>
<div class="container mb-5 pt-2">
  <h1><%= t(".title") %></h1>
  <div class="row">
    <div class="col-md-12 mb-3">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Callenger</th>
            <th scope="col">Score</th>
            <th scope="col"></th>
            <th scope="col">Enemy</th>
            <th scope="col">Score</th>
            <th scope="col">勝敗</th>
            <th scope="col">決闘日時</th>
          </tr>
        </thead>
        <tbody>
          <%= render @battle_histories %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- ページネーション -->
    </div>
  </div>
</div>
