@import 'admin-lte/plugins/fontawesome-free/css/all.min.css';
@import 'admin-lte/dist/css/adminlte.css';

* {
  box-sizing: border-box;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body:before{
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: url("background.webp") center no-repeat;
  background-size: cover;
}

.main-contents {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 250px;
  padding: 12px;
}

.admin-content-wrapper:before{
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: white;
  background-size: cover;
}

.td-none {
  text-decoration: none;
}

.h-110 {
  height: 110px;
}

/* ヘッダー */
header {
  position: fixed;
  height: 70px;
  width: 100%;
  background-image: url('header.jpg');
  background-size: cover;
  z-index: 999;/*最前面へ*/
  box-shadow:0 7px 20px 1px rgba(0,0,0,0.5);
}

.header-logo {
  max-width: 170px;
  max-height: 100%;
  position: absolute;
  top: 20px;
  padding-left: 20px;
}

/* フッター */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-size: cover;
  z-index: 999;/*最前面へ*/
  box-shadow: 0 0 50px 30px rgba(0,0,0,0.9);
  min-width: 200px;
  display: flex;
  color: #FFFFFF;
  justify-content: center;
}

footer ul {
  color:rgba(255,255,255, 0.8);
  position: fixed;
  bottom: 8px;
  padding: 0;
  margin: 0;
}

footer li {
  font-size: 13px;
  min-width: 200px;
  display: inline;
  justify-content: flex-end;
  margin: 0px 10px;
}

/* ボタン */
.def-btn {
  color: #ffffff;
  background-color: #000000;
  border-radius: .75rem;
  cursor: pointer;
  flex: 0 0 auto;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  touch-action: manipulation;
  width: 200px;
  border: double 4px #ffffff;
}
.def-btn:hover {
  background-color: #2e2e2e;
}
.def-btn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/* フラッシュメッセージ */
.notifications {
  margin-top: 70px;
  text-align: center;
}

.notice {
  padding: 16px;
}

.alert {
  border: 0;
}


/***********
スマホ画面対応
************/
@media (max-width: 768px) {
  /* 管理画面用 */
  .admin-content-wrapper {
    margin-left: 0;
    padding: 12px;
  }
}

@media (min-width: 768px) {
  /* ボタン */
  .def-btn {
    padding: .75rem 1.5rem;
  }
}
