/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('background.jpeg');
  background-size: cover;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

a {	
  text-decoration: none;
  color: #FFFFFF;
  text-shadow: 0 5px 9px #c4b59d, 0px -1px 1px #fff;
}

header {
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url('header4.jpg');
  background-size: cover;
}

.icon {
  max-width: 160px;
  max-height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding-left: 10px;
}

main {
  flex: 1;
}

.padding {
  height: 70px;
}

.content {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.logo {
  max-width: 80%;
  min-width: 350px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.camera {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment {
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.button-40 {
  background-color: #000000;
  border-radius: .75rem;
  cursor: pointer;
  flex: 0 0 auto;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  touch-action: manipulation;
  max-width: 80%;
  border: double 4px #ffffff;
}
.button-40:hover {
  background-color: #374151;
}
.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}

.button-41 {
  background-color: #000000;
  color: #ffffff;
  width: 95px;
  height: 95px;
  line-height: 90px;
  border-radius: 50%;
  border: double 4px #ffffff;
  text-align: center;
  cursor: pointer;
}
.button-41:hover {
  animation: scale .3s ease-in-out;
}
@keyframes scale {
  50% { transform: scale(1.1); }
}

.button-42 {
  background-color: #606060;
  color: #ffffff;
  width: 95px;
  height: 95px;
  line-height: 90px;
  border-radius: 50%;
  border: double 4px #ffffff;
  text-align: center;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 50px;
  bottom: 0; /*下に固定*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('header4.jpg');
  background-size: cover;
  color: #FFFFFF;
}
