/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body:before{
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: url("background.jpeg") center no-repeat;
  background-size: cover;
}

.top_bg {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: url("background.jpeg") center no-repeat;
  background-size: cover;
}

header {
  position: fixed;
  height: 70px;
  width: 100%;
  background-image: url('header4.jpg');
  background-size: cover;
  z-index: 999;/*最前面へ*/
  box-shadow:0 7px 20px 1px rgba(0,0,0,0.5);
}

.link {
  text-decoration: none;
  margin-left: 20px;
  color:rgba(255,255,255, 0.8);
}
.link:hover {
  color:rgb(255,255,255)
}

.twitter {
  text-decoration: none;
  color:rgb(255,255,255);
}

.twitter:hover {
  color:rgb(255,255,255)
}

.contents {
  width: 90%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.how_to {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.spot {
  font-size: 30px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}

.spot2 {
  height: 10px;
  font-size: 13px;
  color: brown;
  font-weight: 600;
}

.how_to p {
  height: 17px;
}

span {
  font-size: 10px;
}

.header-logo {
  max-width: 170px;
  max-height: 100%;
  position: absolute;
  top: 20px;
  padding-left: 20px;
}

main {
  flex: 1;
}

.top-contents {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}

.top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 30px;
}

.select-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-text-fotter{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 40px;
  font-size: 10px;
}

.create-contents {
  height: 500px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}

.logo {
  padding: 20px;
  max-width: 50%;
  min-width: 380px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.camera {
  padding-top: 40px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-bd {
  position: absolute;
  width: 310px;
  height: 310px;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}

.comment {
  padding-top: 15px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5rem;
}

.advise {
  padding-top: 15px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5rem;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result-size {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-body {
  padding-top: 20px;
  width: 260px;
  height: 70px;
  font-size: 20px;
  font-weight: 600;
  text-align:center
}

.photo-bd {
  position: absolute;
  width: 370px;
  height: 110px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.star {
  margin-top: 30px;
  font-size: 30px;
}

.rank {
  font-size: 30px;
  font-weight: 600;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-size: cover;
  z-index: 999;/*最前面へ*/
  box-shadow: 0 0 50px 30px rgba(0,0,0,0.9);
  min-width: 200px;
  display: flex;
  color: #FFFFFF;
  justify-content: center;
}

footer ul {
  color:rgba(255,255,255, 0.8);
  position: fixed;
  bottom: 8px;
  padding: 0;
  margin: 0;
}

footer li {
  font-size: 13px;
  min-width: 200px;
  display: inline;
  justify-content: flex-end;
  margin: 0px 10px;
}

.link2 {
  text-decoration: none;
  color:rgba(255,255,255, 0.8);
}
.link2:hover {
  color:rgb(255,255,255)
}


footer p {
  font-size: 15px;
  position: fixed;
  margin: 5px;
  bottom: 0;
  min-width: 200px;
  display: flex;
  color: #FFFFFF;
  justify-content: center;
}

.battle-contens {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}

.title-contents {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.size40 {
  font-size: 40px;
}

.result-table p {
  margin: 0;
}


/* ボタン */

.btn-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-2 {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-40 {
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  border-radius: .75rem;
  cursor: pointer;
  flex: 0 0 auto;
  padding: .75rem 1.2rem;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  touch-action: manipulation;
  max-width: 80%;
  border: double 4px #ffffff;
}
.button-40:hover {
  background-color: #2e2e2e;
}
.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}

.button-41 {
  background-color: #000000;
  color: #ffffff;
  width: 95px;
  height: 95px;
  line-height: 90px;
  border-radius: 50%;
  border: double 4px #ffffff;
  text-align: center;
  cursor: pointer;
}
.button-41:hover {
  animation: scale .3s ease-in-out;
}
@keyframes scale {
  50% { transform: scale(1.1); }
}

.button-42 {
  background-color: #606060;
  color: #ffffff;
  width: 95px;
  height: 95px;
  line-height: 90px;
  border-radius: 50%;
  border: double 4px #ffffff;
  text-align: center;
  cursor: pointer;
}

.button-43 {
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  border-radius: .75rem;
  cursor: pointer;
  flex: 0 0 auto;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  touch-action: manipulation;
  max-width: 80%;
  border: double 4px #ffffff;
}
.button-43:hover {
  background-color: #2e2e2e;
}
.button-43:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
@media (min-width: 768px) {
  .button-43 {
    padding: .75rem 1.5rem;
  }
}

.button-44 {
  background-color: #000000;
  color: #ffffff;
  width: 80px;
  height: 80px;
  line-height: 73px;
  border-radius: 50%;
  border: double 4px #ffffff;
  text-align: center;
  cursor: pointer;
}

.button-45 {
  text-decoration: none;
  color: #ffffff;
  background-color: #606060;
  border-radius: .75rem;
  cursor: pointer;
  flex: 0 0 auto;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  touch-action: manipulation;
  max-width: 80%;
  border: double 4px #ffffff;
}
@media (min-width: 768px) {
  .button-43 {
    padding: .75rem 1.5rem;
  }
}

.submit-btn {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ヘッダーメニュー */

nav {
  margin: 0 0 0 auto;
}

header ul {
  display: flex;
  justify-content: right;
  list-style: none;
  padding: 0 20px;
  margin: 0;
}

header a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  line-height: 70px;
  padding: 0 0 0 0;
}

.sm {
  display: none;
}

/*テーブル*/
table {
  width: 100%;
  text-align: center;
  font-weight: bold;
  table-layout: fixed;
}

th.width30 {
  width: 30%;
}

th.width20 {
  width: 20%;
}

th.width10 {
  width: 10%;
}

.enemy-table {
  border: solid 1px;
  height: 120px;
}

.table-button {
  height: 90px;
}

th {
  color:white;
  background-color: black;
}

/* ページネーション */
.pagination {
  justify-content: center;
  margin-top: 8px;
}

.pagination span {
  font-size: 20px;
  padding:10px 18px;
  margin: 0 5px;
  color:#000053;
}

.pagination span a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.current {
  font-size: 20px;
  color: white !important;
  background-color: black;
}

/***********
スマホ画面対応
************/

@media (max-width: 768px) {

  /* .header-logo {
    max-width: 160px;
    max-height: 100%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%,0);
  } */

  .top-btn {
    margin-top: 60px;
  }

  .spot {
    font-size: 17px;
    padding: 0;
  }

  .pc {
    display: none;
  }

  #hamburger {
    position: relative;
    cursor: pointer;
    margin: 5px 0 0 auto;
    height: 60px;
    width: 60px;
  }

  .icon span {
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 8px;
    transition: ease 0.75s;
  }

  .icon span:nth-of-type(1) {
    top: 16px;
  }
  .icon span:nth-of-type(2) {
    top: 28px;
  }
  .icon span:nth-of-type(3) {
    bottom: 16px;
  }

  .close span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 28px;
  }

  .close span:nth-of-type(2) {
    opacity: 0;
  }

  .close span:nth-of-type(3) {
      transform: rotate(-45deg);
      top: 28px;
  }

  .sm {
      top: 70px;
      left: 0px;
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.9);
      box-shadow:0 15px 15px 15px rgba(0,0,0,0.9);
  }

  header ul {
    flex-direction: column;
  }

  .link {
    text-align: center; 
    color:rgb(255,255,255);
    margin: 0px;
  }

  .link2 {
    text-align: center; 
    color:rgb(255,255,255);
    margin: 0px;
  }

  .none {
    display: none;
  }

  .select-text-fotter{
    bottom: 30px;
  }
}
