<footer>
  <ul>
    <li><%= link_to '利用規約', '/service', class:"link2" %></li>
    <li><%= link_to 'プライバシーポリシー', '/privacy', class:"link2" %></li>
    <li><%= link_to 'お問い合わせ', '/info', class:"link2" %></li>
  </ul>
  <p>©︎2022 メンチキッター</p>
</footer>
