<footer>
  <ul>
    <li>©︎2022 メンチキッター</li>
    <li class="none">|</li>
    <li class="none"><%= link_to '利用規約', '/service', class:"link2" %></li>
    <li class="none">|</li>
    <li class="none"><%= link_to 'プライバシーポリシー', '/privacy', class:"link2" %></li>
    <li class="none">|</li>
    <li class="none"><%= link_to 'お問い合わせ', '/info', class:"link2" %></li>
  </ul>
</footer>
