- ga_id = ENV['GOOLE_ANALYTICS_ID']
script[async src="https://www.googletagmanager.com/gtag/js?id=#{raw ga_id.to_json}"]
  javascript:
    window.dataLayer = window.dataLayer || [];
    function gtag(){
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', "#{raw ga_id.to_json}"); 
