| <link href="
= image_path("apple-touch-icon.png")
| " rel="apple-touch-icon" sizes="180x180" type="image/png" /> <link href="
= image_path("android-touch-icon.png")
| " rel="icon" sizes="192x192" type="image/png" /> 
